@using NoteApp.Service.Models
@model Note
@{
    ViewData["Title"] = "UpdateNote";
}
<form method="post" asp-action="UpdateNote" asp-controller="Main">
    <div class="row ml-5">
        <div class="col-6">
            <label>Başlık:</label>
            <input type="text" class="form-control" name="Title" value="@Model.Title" />
            <input type="hidden" name="Id" value="@Model.Id" />
            <input type="hidden" name="UserId" value="@Model.UserId" />
            <input type="hidden" name="CreatedDate" value="@Model.CreatedDate" />
        </div>
        <div class="col-6">
            <label>İçerik:</label>
            <textarea name="Content">@Model.Content</textarea>
        </div>
        <br />
    </div>
    <br />
    <button type="submit" class="btn btn-primary ml-5">Güncelle</button>


</form>

